# Manual installs for checking: uv

# Required  
OPENAI_API_KEY='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'
TAVILY_API_KEY='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'

# optional, only used in Module 1, Lesson 1 once
ANTHROPIC_API_KEY='your_anthropic_api_key_here'
GOOGLE_API_KEY='your_google_api_key_here'

# Optional for evaluation and tracing
LANGSMITH_API_KEY='your_langsmith_api_key_here'
# uncomment to set tracing to true when you set up your LangSmith account
# LANGSMITH_TRACING=true
LANGSMITH_PROJECT=lca-lc-foundation
# Uncomment the following if you are on the EU instance:
#LANGSMITH_ENDPOINT=https://eu.api.smith.langchain.com
